* {
  font-family: 'Lato', sans-serif;
}

body {
  height: 2000px; /*тест*/
}

/*Change cursor type*/

.header__button:hover,
.menu__link:hover,
.team__photo:hover,
.social-list__button:hover {
  cursor: url("img/cursor.png"),auto;
}

.header {
  height: 80px;
  display: flex;
  align-content: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header .container {                    
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {}

.logo {
  width: 170px;
  height: 60px;
}

.header__menu {
  font-size: 20px;
}

.menu {
  font-style: normal;                   
  font-weight: 600;
  color: #3C3C3C;;
}

.menu__list {
}

.menu__item {
  display: inline-block;
  margin: 0 15px;
}

.menu__link {}

.menu__link:hover {
  color: #18B5DC;
}

.header__button {
  width: 130px;
  height: 42px;
  background: none;
  border: 1px solid #3C3C3C;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #3C3C3C;
  padding: 10px 19.5px;
}

.header__button:hover {
  background: #18B5DC;
  border: 1px solid #18B5DC;
  color: #FFFFFF;
}


.team {
  background: #F6F6F6;
}

.team .container {
  padding: 150px 0;
  align-items: center;
}

.team__title {}

.team__title h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 4px;
  color: #3C3C3C;
  
}

.team__divider {
  width: 45px;
  height: 4px;
  background: #DDDBDB;
  margin: 20px auto 40px;
}

.team__text {
  width: 570px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3C3C3C;
  margin: 0 auto;
}

.team__profiles {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.team__member {}

.team__photo {
  width: 270px;
  height: 270px;
}

.team__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282528;
  margin-top: 20px;
}

.team__role {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #646464;

}

.footer {}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin: 40px auto 28px;
}

.footer__menu {
  font-size: 18px;
  line-height: 22px;
} 


.social-list {
  display: flex;
  margin: 28px 0px 0px 0px;
}

.social-list__button {
  width: 42px;
  height: 42px;
  border: 1px solid #18B5DC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.social-list__button:first-child:hover {
  background-color: #18B5DC;
  background-image: url("img/social-list__icon/twitter-icon_white.svg");
} 

.social-list__icon {

}